
<article class="post">
    <h5 class="title">{{title}}</h5>

    <p class="content">{{content}}</p>

    <div class="meta">
        {{#if updatedAt}}
            Updated at: {{updatedAt}}
        {{else}}
            Created at: {{createdAt}}
        {{/if}}
        
    </div>
</article>