
<article
    class="post"
    post-id="{{id}}"
    edit-now=
        {{#if editNow}}
            1
        {{else}}
            0
        {{/if}}
>
    <header class="title-wrapper">
        {{#if linkedTitle}}
            <a href="/post/{{id}}">
                <h5 class="title">{{title}}</h5>
            </a>
        {{else}}
            <h5 class="title">{{title}}</h5>
        {{/if}}
    </header>

    <div class="content-wrapper">
        <p class="content">{{content}}</p>
    </div>

    {{#if postedByCurrentUser}}
        <button class="edit-post-btn btn btn-primary">Edit</button>
        <button class="delete-post-btn btn btn-primary">Delete</button>
    {{/if}}

    <div class="meta">
        {{#if showUsernames}}
            Posted by: {{user.username}} |&nbsp;
        {{/if}}
        
        {{#if updatedAt}}
            Updated on {{format_date updatedAt}}
        {{else}}
            Created on {{format_date createdAt}}
        {{/if}}
    </div>

    {{#if postedByCurrentUser}}
        <script src="/javascript/update-post-info/edit.js"></script>
        <script src="/javascript/update-post-info/delete.js"></script>
    {{/if}}
</article>