
<article class="post" post-id="{{id}}">
    <header>
        <h5 class="title">{{title}}</h5>
        {{#if postedByCurrentUser}}
            <a class="edit-post-btn btn btn-primary" href="">Edit</a>
            <a class="delete-post-btn btn btn-primary" href="">Delete</a>
        {{/if}}
    </header>

    <p class="content">{{content}}</p>

    <div class="meta">
        {{#if showUsernames}}
            Posted by: {{user.username}} |&nbsp;
        {{/if}}
        
        {{#if updatedAt}}
            Updated at: {{updatedAt}}
        {{else}}
            Created at: {{createdAt}}
        {{/if}}
    </div>
</article>