
<article
    class="post mb-4 border bg-light p-2"
    post-id="{{id}}"
    edit-now=
        {{#if editNow}}
            1
        {{else}}
            0
        {{/if}}
>

    <header class="title-wrapper">
        {{#if linkedTitle}}
            <a href="/post/{{id}}"><h5 class="title d-inline">{{title}}</h5></a>
        {{else}}
            <h5 class="title d-inline">{{title}}</h5>
        {{/if}}
        {{#if (compare user.id currentUserId)}}
            &nbsp;
            <button class="edit-post-btn btn btn-info me-1"><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="delete-post-btn btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
        {{/if}}
    </header>

    <div class="content-wrapper">
        <p class="content mt-2">{{{breaklines content}}}</p>
    </div>

    <div class="meta fst-italic">
        {{#if showUsernames}}
            Posted by: {{user.username}}&nbsp;&nbsp;|&nbsp;
        {{/if}}
        
        {{#if comments.length}}
            {{#if linkedTitle}}
                <a href="/post/{{id}}">{{comments.length}} {{format_plural 'comment' comments.length}}</a>
            {{else}}
                {{comments.length}} {{format_plural 'comment' comments.length}}
            {{/if}}
        {{else}}
            {{comments.length}} {{format_plural 'comment' comments.length}}
        {{/if}}

        &nbsp;|&nbsp;
    
        {{#if updatedAt}}
            Updated on {{format_date updatedAt}}
        {{else}}
            Created on {{format_date createdAt}}
        {{/if}}
    </div>

    {{#if (compare user.id currentUserId)}}
        <script src="/javascript/post/edit.js"></script>
        <script src="/javascript/post/delete.js"></script>
    {{/if}}
</article>